<!-- <div *ngIf="tempService">


  <ul>
    <li *ngFor='let img of tempService.images'>

         <img  src="../../../assets/uploads/services/{{tempService._id}}/{{img}}" width="250" height="250">

      </li>
  </ul>
  <label>Service Name: {{tempService.name}} </label>
  <br>
  <label>Service Type: {{tempService.type}} </label>
  <br>


</div> -->


<h2>THE {{tempService.name}}</h2>
<div  *ngIf="tempService" id="carousel-example-generic" class="carousel slide" data-ride="carousel">



    <!-- Indicators -->
    <ol class="left carousel-indicators">
    <li *ngFor='let img of tempService.images' data-target="#carousel-example-generic"  class="{{img.tagClass}}"></li>
    <!-- <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li> -->
    </ol>

    <!-- Wrapper for slides -->
    <div  class="carousel-inner" >
        <div *ngFor='let img of tempService.images' class="item {{img.tagClass}} imgContainerRoom">

         <img  src="../../../assets/uploads/services/{{tempService._id}}/{{img.img}}" >

          </div>

    </div>

    <!-- Controls -->
    <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
    </a>

    <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
    </a>

</div>
<p>{{tempService.type}}</p>
