<!-- <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a routerLink="/admin">Manage Rooms</a>
      </li>
      <li class="nav-item active">
        <a routerLink="/admin/services">Mange Services</a>
      </li>
      <li class="nav-item active">
        <a routerLink="/admin/hotel">Manage Hotel</a>
      </li>
      <li class="nav-item active">
        <a routerLink="/admin/settings">Manage Administrator Credentials</a>
      </li>
      <li class="nav-item active">
        <a routerLink="/admin/services/add-service">Add Service</a>
      </li>
      <li class="nav-item active">
        <a routerLink="/admin/add-room">Add Room</a>
      </li>
    </ul>
  </div>
</nav> <br /> -->



<nav class="navbar navbar-expand navbar-dark bg-dark">
  <a routerLink="/home" class="navbar-brand">Home</a>
  <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false">
      <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
          <a routerLink="/admin/settings" class="nav-item active nav-link">Manage Administrator Credentials</a>
          <a routerLink="/admin/services" class="nav-item active nav-link">Mange Services</a>
          <a routerLink="/admin" class="nav item active nav-link">Manage Rooms</a>
          <a routerLink="/admin/services/add-service" class="nav item active nav-link">Add Service</a>
          <a routerLink="/admin/add-room" class="nav item active nav-link">Add Room</a>
          <a routerLink="/booking/history" class="nav item active nav-link">Bookings</a>
          <a routerLink="/admin/hotel" class="nav item active nav-link">Manage Hotel</a>


          <!-- <li class="nav-item dropdown">
              <a href="#" class="nav-link dropdown-toggle active" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Nossos serviços</a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a href="#" class="dropdown-item">Divisão Militar</a>
                  <a href="#" class="dropdown-item">Divisão Corporativa</a>
                  <a href="#" class="dropdown-item">Aplicações para a área de saúde</a>
              </div>
          </li> -->
      </ul>

      <form action="#" method="post" class="form-inline my-2 mylg-0">
          <button class="btn btn-outline-success" type="submit" (click)="logout()">Log Out</button>
      </form>
  </div>
</nav>




