<!--Version = {{version.full}} <br/>

Upload Percent: {{percentDone}}% <br />-->
<form >
  <fieldset id="buildyourform">
    <label style="float: left">categoris</label>
    <input type="file"  #Catimage  />
    <input type="text"  #CatimageName/>
    <div class="form-group">
      <div class="fieldwrapper" style="display: flex;flex-direction: row" id="field-1">
        <input type="file" name="item"/>
        <input name="name" type="text"/>
        <input  name="price" type="text"/>
        <input name="desc" type="text"/>
      </div>
    </div>
  </fieldset>
  <input type="button" value="plus" class="add btn-number" id="add"  />
  <input (click)="uploadAndProgress()" type="submit" class="btn btn-primary">
</form>


<ng-container *ngIf="uploadSuccess">
  Upload Successful
</ng-container>
