<!--Version = {{version.full}} <br/>

Upload Percent: {{percentDone}}% <br />-->
<form name="myForm" (ngSubmit)="uploadAndProgress()">
  <fieldset id="buildyourform">
    <div class="form-group For-append-category">
      <input type="file"  />
      <input  class="form-control"  id="categoryName" type="text" required  placeholder="Category name"/>
    </div>
    <div class="form-group For-append">
    </div>
  </fieldset>
  <input type="button" value="plus" class="add btn-number" id="add"  />
  <input  type="submit" class="btn btn-primary">
</form>


