<app-admin-navbar></app-admin-navbar>


<h2>Bookings:</h2>

<table *ngIf="tempBookings" style="width:100%">
    <tr>
      <th>Current</th>
      <th>Firstname</th>
      <th>Lastname</th>
      <th>Email</th>
      <th>Check-In-Date</th>
      <th>Check-Out-Date</th>
      <th>Total</th>
      <th>Room</th>

    </tr>
    <tr *ngFor="let book of tempBookings">
      <td *ngIf="book.current">Yes</td>
      <td *ngIf="!book.current">No</td>

      <td *ngIf="book.user">{{book.user.first_name}}</td>
      <td *ngIf="!book.user">--</td>

      <td *ngIf="book.user">{{book.user.last_name}}</td>
      <td *ngIf="!book.user">--</td>

      <td *ngIf="book.user">{{book.user.emil}}</td>
      <td *ngIf="!book.user">--</td>


      <td>{{book.booking.check_in}}</td>
      <td>{{book.booking.check_out}}</td>
      <td *ngIf="book.booking.total">{{book.booking.total}}$</td>
      <td *ngIf="!book.booking.total">--</td>

      <td>
        <a routerLink="/admin/room-detail/{{book.roomId}}">Go To Room</a>
         <img class="media-object img-rounded img-responsive"  src="../../../assets/uploads/rooms/{{book.roomId}}/{{book.room_images[0]}}"  width="150" height="150" >

      </td>

    </tr>

</table>
<h4 *ngIf="!tempBookings">No Bookings Yet</h4>
