<app-admin-navbar></app-admin-navbar>

<div *ngIf="tempRoom">
        <input id="photo" type="file" name="uploadedFile" />
        <!-- button to trigger the file upload when submitted -->
        <button type="button" class="btn btn-success btn-s" (click)="upload()">
        Upload Images
        </button>

        <!-- <ul>
          <li *ngFor='let img of tempRoom.images'>
               <button (click)="deleteFile(img)">X</button>
               <img  src="../../../assets/uploads/rooms/{{tempRoom._id}}/{{img}}" width="250" height="250">

            </li>
        </ul> -->
        <div>
          <span *ngFor='let img of tempRoom.images' width="350" style="position: relative;">
              <button (click)="deleteFile(img)" style="position: absolute; left:5;">X</button>
              <img  src="../../../assets/uploads/rooms/{{tempRoom._id}}/{{img}}" width="350" height="350">

          </span>
        </div>
        <label>Room Name Or Number: </label>
        <br>
        <input [(ngModel)]="tempRoom.room_name" class="txt"/>
        <br>
        <label>Room Type:</label>
        <br>
        <input [(ngModel)]="tempRoom.type" class="txt"/>
        <br>
        <label>Floor:</label>
        <br>

        <input [(ngModel)]="tempRoom.floor" class="txt"/>
        <br>

        <label>Rooms Count:</label>
        <br>
        <input [(ngModel)]="tempRoom.max_occupancy" class="txt"/>
        <br>

        <label>Cost Per Night:</label>
        <br>
        <input [(ngModel)]="tempRoom.cost_per_night" class="txt"/>
        <br>

        <h4>Attributes:</h4>
        <input #attr  class="txt"/>
        <ul>
          <li *ngFor='let attr of tempRoom.attributes'>
            <span>{{attr}}</span>
            <button (click)="delAttr(attr)">X</button>
          </li>
        </ul>
        <button (click)="addAttr(attr.value) ; attr.value=''">Add Attribute</button>
        <br>
        <h4>Bookings:</h4>

        <table *ngIf="tempBookings" style="width:60%">
            <tr>
              <th>Firstname</th>
              <th>Lastname</th>
              <th>Email</th>
              <th>Check-In-Date</th>
              <th>Check-Out-Date</th>
              <th>Total</th>

            </tr>
            <tr *ngFor="let book of tempBookings">
              <td *ngIf="book.user">{{book.user.first_name}}</td>
              <td *ngIf="!book.user">--</td>

              <td *ngIf="book.user">{{book.user.last_name}}</td>
              <td *ngIf="!book.user">--</td>

              <td *ngIf="book.user">{{book.user.emil}}</td>
              <td *ngIf="!book.user">--</td>


              <td>{{book.booking.check_in}}</td>
              <td>{{book.booking.check_out}}</td>
              <td *ngIf="book.booking.total">{{book.booking.total}}$</td>
              <td *ngIf="!book.booking.total">--</td>

            </tr>

        </table>
        <span *ngIf="!tempBookings">No Bookings Yet</span>

        <button (click)="save()">Update Room Data</button>
        <button (click)="deleteRoom()">Delete Room</button>

</div>
